body{
	/*
	background-image: url("../images/cave.jpg");
	background-position: center;*/

	
}

@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

}
p.accordion-body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;

}

.wrapper{
	width: 500px;
	margin: 80px auto 0;
}

.wrapper .accordion-wrap .accordion-header{
	width: 100%
	height: 50px;
	background: #fff;
	padding: 15px;
	font-weight: 700;
	color: #39a098;
	border-bottom: 2px solid #39a098;
	position: relative;
	cursor: pointer;
	}

	.wrapper .accordion-wrap:first-child .accordion-header{
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.wrapper .accordion-wrap:last-child .accordion-header{
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom: 2px solid transparent;
	}



	.wrapper .accordion-wrap .accordion-header:hover{
		color: #01645d;
		border-color: #01645d;
	}

	.wrapper .accordion-wrap .accordion-header:hover:before,
	.wrapper .accordion-wrap .accordion-header:hover:after{
		background: #01645d;
	}

	.wrapper .accordion-wrap:last-child .accordion-header:hover{
		border-bottom: 2px solid transparent;
	}

	.wrapper .accordion-wrap .accordion-header:before,
	.wrapper .accordion-wrap .accordion-header:after{
		content: "";
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		width: 20px;
		height: 2px;
		background: #39a098;
	}

	.wrapper .accordion-wrap .accordion-header:after{
		transform: rotate(-90deg);
		transition: all 0.5s ease;
	}

	.wrapper .accordion-wrap .accordion-body{
		width: 100%
		height: 180px;
		transition: all 0.5s ease;
		background: #39a098;
		overflow:hidden;

	}

	.wrapper .accordion-wrap .accordion-body p{
		padding: 15px;
		font-size: 15px;
		line-height: 22px;
		color: #fff;

	}

	.wrapper .accordion-wrap .accordion-header.active{
		color: #01645d;
		border-color: #01645d;

	}

	.wrapper .accordion-wrap:last-child .accordion-header.active{
		border-bottom: 2px solid #01645d;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.wrapper .accordion-wrap .accordion-header.active:before,
	.wrapper .accordion-wrap .accordion-header.active:after{
		background: #01645d;
	}

	.wrapper .accordion-wrap .accordion-header.active:after{
		transform: rotate(0);

	}

	.wrapper .accordion-wrap .accordion-header.active + .accordion-body{
		height: 0px;
	}




/*menu bar*/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	text-align: right;

	
}
li{
	display: inline-block;


}
li a{
	width: 300px;
	margin-right: 10px;
	position: sticky;
}

.articleText p{
	background-color: #eee

}

/*accordion*/



/* styling button to open and close the accordion button*/
.accordion{
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 50%;
	text-align: left;
	float: right;
	border: none;
	outline: none;
	transition: 0.4s;
	display: inline-block;
}

.active, .accordion:hover {
	background-color: white;
}

/*styling of the accordion panel*/
.panel{
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

/*text on pictuers with table*/
.imageMenuWrapper{
	position: relative;
}

.imageMenuWrapper1{
	position: relative;
}


.imageMenuText{
	position: absolute;
	top: 150px;
	left: 120px;
	
}

h1{
	text-align: center;
	color: red;
}

table{
	margin-left: auto;
	margin-right: 70px;
}

img{
	border-radius: 2px;
	width: 300px;
	height: 300px;
}

//*news*/
#info{
	text-align: center;
}

	/*gallery with pictuers*/
.scrolling-wrapper{
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.gallery{
	display: inline-block;
}
.articleText{
	font-family: Verdana;
	margin-left: 20px;
	text-align: left;
}
#contact {
	margin-left: auto;
}

@media only screen and(max-width: 768px){
	
	.accordion{
		width: 100%;
	}

	img{
		width: 100%;
	}

	.articleText{
		font-size: 100vw;
	}

	.imageMenuText{
		width: 100%;
	}
}